
<form [formGroup]="studentForm">
    <div class="form-group">
        <input 
            type="text" 
            class="form-control w-100" 
            formControlName="name" 
            name="name" 
            placeholder="Name">
    </div>
    <div class="form-group">
        <input 
            type="date" 
            class="form-control w-100" 
            formControlName="id" 
            name="id" 
            placeholder="date"
            [readOnly]="isEdit">
    </div>
    <div class="form-group">
        <input type="radio" id="time" name="FN" value="FN">
<label for="FN">FN</label><br>
<input type="radio" id="time1" name="AN" value="AN">
<label for="AN">AN</label><br>
    </div>
    
  </form>
  <button (click)="add()" *ngIf="!isEdit">Add</button>
  
  <button (click)="resetForm()" *ngIf="!isEdit">Reset</button>
